<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    
    <div>
        <label>New: </label>
            <mat-radio-group formControlName="inOut">
                <mat-radio-button value="0" style="margin: 0 12px;">Arrival</mat-radio-button>
                <mat-radio-button value="1">Dispatch</mat-radio-button>
            </mat-radio-group> 
    </div>
    <div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    
    <div style="margin-bottom: 1rem;"><button mat-raised-button color="primary">Next step</button></div>
</form>
